<h1>{{title}}</h1>

<p *ngIf="siHay" > no hay facturas registradas</p>

<button (click)="guardarFactura()">  guardar factura </button>

<div *ngIf="!siHay" >
    <div *ngFor="let factura of facturas; let i = index">
        <br>
        <p>numero de factura: {{factura.id}} </p>
        <p>fecha y hora {{factura.fecha | date:"short"}} </p>
        <br>
        <p *ngIf="factura.items.length <= 0"> no hay productos agregados</p>
        <button (click)="agregarItem(i)" >  agregar producto </button>
        <p>nombre</p>
        <input type="text" [(ngModel)]="nombre"> 
        <p>precio</p>
        <input type="text" [(ngModel)]="precio"> 
        <br>
        <div *ngIf="factura.items.length > 0">
            <ul *ngFor="let item of factura.items" >
                <li>{{item.nombre}}  :  {{item.precio}}</li>
            </ul>
        </div>

    </div>
</div>